@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Lato&display=swap');

*{
  margin: 0;
}

:root{
  /* color */
  --primary-pink: #E72C70;
  --primary-blue: #82D1E4;
  --primary-yellow: #F7F249;
  --pastel-pink: #FF98C0;
  --pastel-blue: #CAE3E8;
  --pastel-yellow: #F8F594;
  --neutral: #FFFFFF;
  --dark: #212529;

  /* font */
  --title: 'Dosis', sans-serif;
  --text: 'Lato', sans-serif;

  /* margin */
  --margin: 1.5em;
  --margin-small: 1em;
}


body{
  font-family: var(--text);;  
}

.btn{
  display: inline-block;
  background-color: var(--primary-pink);
  padding: 0.5em 2em;
  border-radius: 2em;
  font-family: var(--title);
  font-size: 1.2em;
  text-decoration: none;
  color: var(--neutral);
}

.btn--yellow{
  background-color: var(--primary-yellow);
  padding: 1.4em 2em;
  color: var(--primary-pink);
}

.obligated{
  color: var(--primary-pink);
}

.title{
  font-family: var(--title);
  color: var(--dark);
  font-size: 3em;
}
.title--secondary{
  color: var(--primary-pink);
  font-size: 2em;
}

.title--tertiary{
  font-size: 1.2em;
}


.text{
  font-family: var(--text);
  color: var(--dark);
  font-size: 1em;
}

.input__text{
  background-color: var(--pastel-blue);
  border: none;
  width: 90%;
  padding: 0.4em 0.5em;
  border-radius: 0.5em;
  display: block;
  margin-top: 0.3em;
}

.margin{
  margin-bottom: var(--margin);
}

.margin__small{
  margin-top: var(--margin-small);
}

.nav-margin{
  margin-top: 3.75em
  /* fix space behind nav */
}

.text-container{
    margin: 2em;
}


/* flexbox */
.flex{
    display: flex;
}
.flex--center{
    justify-content: center;
    align-items: center;
}
.flex--col{
    flex-direction: column;
}
.flex--wrap{
    flex-wrap: wrap;
}